body{
    background-color: red;
}
.button{
    text-decoration: none;
    font-family: monospace;
    color: white;
    font-weight: bold;

    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 30px;

    border: 2px solid white;
    border-width: 3px;
    padding: 20px;
}
.button:hover{
    color: black;
    background-color: rgb(151, 151, 151);
    opacity: 50%;
}
#pic{
    display: block;
    height: 300px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;

    color: white;
    font-family: monospace;
}
.source{
    margin-top: 200px;
    text-align: center;
    
    font-size:12px;
}